<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/head :: head"></head>
<head>
    <link rel='stylesheet' type='text/css' href='../css/contest.css'/>
    <script type='text/javascript' src='../js/contest.js'></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class='snb_wrap'>
    <ul>
        <li><a th:href='@{list}'>열린 콘테스트</a></li>
        <li><a th:href='@{open}'>콘테스트 열기</a></li>
        <li><a th:href='@{old}'>지난 콘테스트</a></li>
        <li><a th:href='@{case}'>사례</a></li>
    </ul>
    <div class='contest_top'><span>콘테스트</span>원하는 비용으로 원하는 광고를<br>만들고 내보내는 좋은 방법</div>
</div>

<div class='sub_key'>사례</div>

<div class='wrap' style='padding-bottom:0'>
    <p class='nav marginb50'>사례</p>

    <div class='bd_wrap'>
        <div class='content'>
            <form name="frm" action="" method="get">
                <!--                <input type="hidden" name="page_now" value="<?=$page_now?>" />-->
                <!--                <input type="hidden" name="page_row" value="<?=$page_row?>"/>-->
                <table cellpadding='0' cellspacing='0'>
                    <colgroup>
                        <col width='7%'>
                        <col width=''>
                        <col width='13%'>
                    </colgroup>
                    <tr>
                        <th>NO</th>
                        <th>제목</th>
                        <th>작성일</th>
                    </tr>

                    <tr th:each="board, index : ${boards}">
                        <td th:text="${index.count}">3</td>
                        <td>
                            <a href="#" th:text="${board.title}">이런 식으로도 광고효과를 만들어낼 수 있다는</a>
                        </td>
                        <td th:text="${board.createdAt.toLocalDate()}">21.01.11</td>
                    </tr>

                </table>
                <div class="clear"></div>

                <!--                <div class="margint50">-->
                <!--                    <?php include $_SERVER['DOCUMENT_ROOT']."/lib/paginate_main.php"?>-->
                <!--                </div>-->
                <div class="clear"></div>
            </form>
        </div>

        <div class="rnb">
            <p class="t1"><img src="/image/site/sub/alarm.png"> 콘테스트 마감이 얼마 남지 않았어요!</p>
            <ul>
                <li th:each="contest : ${contests}">
                    <div class="tit">
                        <div class="img_bx"><img src="/image/site/index/noimage.png"
                                                 th:attr="src=${contest.memberProfileImage}"></div>
                        <p class="p1" th:text="${contest.name}">KB 국민은행</p>
                        <p class="p2" th:text="${contest.isReview}? '리뷰' : 'PPL'">리뷰</p>
                    </div>
                    <div class="cont">
                        <p class="p1">
                            <span class="s1" th:text="'D-' + ${contest.restDate}">D-11</span>
                            <span class="s2" th:text="${contest.applyNumber}">11</span>
                            명 응모</p>
                        <p class="p2" th:text="${contest.name}">신규 예금상품 가입 체험 컨텐츠 앞 광고 공모</p>
                        <p class="p4" th:text="${contest.text}">KB 국민은행의 신규 예금상품을 미리 알아보는 것부터 가입하는 과정까지 자연스럽고
                            재미있는재미있는재미있는재미있는 컨텐츠에 녹여...</p>
                        <p class="p3">
                            <img src="/image/site/index/won.png">
                            <span th:text="${contest.totalReward}"></span>만원
                        </p>
                        <p class="p5">
                            <img src="/image/site/index/premium.png" th:if="${not contest.isStandard}">
                        </p>
                    </div>
                </li>
            </ul>
            <a href="/contests/list" class="more_list">목록 더보기</a>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>