<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="../css/review.css"/>
    <script type="text/javascript" src="../js/review.js"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class='snb_wrap'>
    <ul>
        <li><a href='/review/list'>전체 후기</a></li>
        <!--    <li><a href='list.php?type=1'>리뷰 후기</a></li>-->
        <!--    <li><a href='list.php?type=2'>PPL 후기</a></li>-->
    </ul>
    <div class='top2'>
        <div class='inner'>
            <p><span>VICON review</span>쉽게 원하는 것을 요구하고<br>그 이상을 받아서 좋아요.</p>
            <!-- <a href=''>이 콘테스트 자세히 알아보기</a> -->
        </div>
    </div>
</div>


<div class='sub_key'>전체 후기</div>

<div class='wrap'>
    <p class='nav marginb30'>전체 후기</p>
    <form name="frm" action="" method="get">
        <!--    <input type="hidden" name="page_now" value="<?=$page_now?>" />-->
        <!--    <input type="hidden" name="page_row" value="<?=$page_row?>"/>-->
        <!--    <div class='filter_box'>-->
        <!--      <div class="chk_box">-->
        <!--        <input type="radio" name="chk" id="chk3" value="1" <?=$check_class?> <?=check($chk,'1')?>>-->
        <!--        <label for="chk3"><span></span> 최신 등록 순</label>-->
        <!--      </div>-->
        <!--      <div class="chk_box">-->
        <!--        <input type="radio" name="chk" id="chk4" value="2" <?=check($chk,'2')?>>-->
        <!--        <label for="chk4"><span></span> 상금 순</label>-->
        <!--      </div>-->
        <!--      <div class="chk_box">-->
        <!--        <input type="radio" name="chk" id="chk5" value="3" <?=check($chk,'3')?>>-->
        <!--        <label for="chk5"><span></span> 지원 적은 순</label>-->
        <!--      </div>-->
        <!--    </div>-->

        <ul class='lst' th:each="review : ${reviews}">
            <li>
                <div class='img'><img src="/image/site/no_img2.jpeg"></div>
                <div class='cont'>
                    <div class='b1'>
                        <p>
                            <span th:class="${review.isReview()? 's2' : 's1'}"
                                  th:text="${review.isReview()? '리뷰' : 'PPL'}">
                                리뷰
                            </span>
                            <span class="c1" th:text="${review.contestTitle}">
                                contest title
                            </span>
                        </p>
                        <a th:href='@{/contests/view/{id} (id=${review.contestId})}'>자세히보기</a>
                    </div>
                    <div class='b2'>
                        <p class='p1'>
                            <img src='/image/site/sub/comt.png'>
                            <span th:text="${review.reviewTitle}">리뷰제목</span>
                        </p>
                        <p class='p2'>
                            <span>이용후기</span>
                            <span class="c2" th:text="${review.reviewContent}">
                                요구사항 올리기가 간단한데 콘티부터 색다른 제안이 많이 들어왔어요. 이정도일줄은 생각 못했는데이정도일줄은 생각
                            못했는데이정도일줄은 생각 못했는데생각 못했는데
                            </span>

                        </p>
                        <a th:href='@{/review/view/{id} (id=${review.id})}'>후기 읽기</a>
                    </div>
                </div>
                <div class='info'>
                    <div class='summary'>
                        <div class="logo">
                            <img th:src="${review.memberProfileImage}" src="/image/site/noimage.png">
                        </div>
                        <p>
                            <span th:text="${review.username}">KB 국민은행</span>
                            <!--                            <img th:each="num: ${#numbers.sequence(1,${review.star.toInt()})}" src="/image/site/sub/star.png">-->
                            <img th:each="num: ${#numbers.sequence(0, review.getStar()-1)}"
                                 src="/image/site/sub/star.png">
                        </p>
                    </div>
                    <div class='b3'>
                        <p>
                            <img src="/image/site/sub/review_icon1.png">
                            <span th:text="${review.createdDate}">2020. 12. 03</span>
                        </p>
                        <p>
                            <img src="/image/site/sub/review_icon2.png">
                            <span th:text="${review.reward} + '만원'">400만원</span>
                        </p>
                        <p>
                            <img src="/image/site/sub/review_icon3.png">
                            <span th:text="${review.category}">금융</span>
                        </p>
                        <p>
                            <img src="/image/site/sub/review_icon4.png">
                            <span th:text="${review.applyNumber} + '명 지원'">45명 지원</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="clear"></div>

        <!--    <div class="margint50">-->
        <!--      <?php include $_SERVER['DOCUMENT_ROOT']."/lib/paginate_main.php"?>-->
        <!--    </div>-->
        <div class="clear"></div>
    </form>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
