<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}"/>
    <script type="text/javascript" src="../js/mypage.js"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class='snb_wrap'>
    <div class='top'>
        <div class='inner'>
            <p><span>콘테스트</span>원하는 비용으로<br>원하는 광고를 만들고<br>내보내는 좋은 방법</p>
            <a href='/info/howto'>콘테스트는 어떻게 진행되나요?</a>
        </div>
    </div>
</div>

<div class='wrap'>
    <p class='nav marginb20'>마이페이지</p>

    <div class='view_wrap'>
        <div class='content'>
            <div class='c_nav'>
                <a href='/mypage/info' class='act'>회원 정보</a>
                <a href='/mypage/history'>콘테스트 개최내역</a>
                <a href='/mypage/join'>콘테스트 참가내역</a>
            </div>

            <div class='mypage_box' th:object="${member}">
                <a th:href='@{/auth/edit/{id} (id= ${member.id})}' class='edit_btn'>회원 정보 수정</a>

                <p class='tit'><i class="fas fa-user-circle"></i> 기본정보</p>
                <table cellpadding='0' cellspacing='0' class='tbl1'>
                    <colgroup>
                        <col width='15%'/>
                        <col width=''/>
                    </colgroup>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <div class='profile_bx'>
                                <img src='/image/site/noimage.png'>
                            </div>
                            <span th:text="*{username}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td th:text="*{phoneNumber}"></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <th>활동</th>
                        <td>응모
                            <span th:text="*{apply}"></span>&nbsp;
                            &nbsp;&nbsp;
                            당선 <span th:text="*{elect}"></span>&nbsp;&nbsp;&nbsp;
                            총상금 <span th:text="*{totalPrice}"></span></td>
                    </tr>
                </table>

                <p class='tit'><i class="fas fa-building"></i> 비즈니스 정보</p>
                <table cellpadding='0' cellspacing='0' class='tbl1'>
                    <colgroup>
                        <col width='15%'/>
                        <col width=''/>
                    </colgroup>
                    <tr>
                        <th>기업명</th>
                        <td th:text="*{companyName}"></td>
                    </tr>
                    <tr>
                        <th>업종</th>
                        <td th:text="*{businessCategory}"></td>
                    </tr>
                    <tr>
                        <th>웹사이트 주소</th>
                        <td><a th:href="*{websiteUrl}" target="_blank" th:text="*{websiteUrl}"></a></td>
                    </tr>
                    <tr>
                        <th>사업자 유형</th>
                        <td th:text="*{businessType}"></td>
                    </tr>
                    <tr>
                        <th>사업자 번호</th>
                        <td th:text="*{businessNumber}"></td>
                    </tr>
                </table>

                <p class='tit'><img src='/image/site/sub/camera-home.png'> 채널 정보</p>
                <table cellpadding='0' cellspacing='0' class='tbl1'>
                    <colgroup>
                        <col width='15%'/>
                        <col width=''/>
                    </colgroup>
                    <tr>
                        <th>채널 URL</th>
                        <td><a th:href="*{channelUrl}" target="_blank" th:text="*{channelUrl}"></a></td>
                    </tr>
                    <tr>
                        <th>채널 키워드</th>
                        <td th:text="*{channelCategory}"></td>
                    </tr>
                    <tr>
                        <th>채널 구독자 수</th>
                        <td th:text="*{subscriberAmount}"></td>
                    </tr>
                    <!--                    <tr>-->
                    <!--                        <th>보유 채널</th>-->
                    <!--                        <td></td>-->
                    <!--                    </tr>-->
                </table>
            </div>
        </div>
        <div class="rnb">
            <p class="t1"><img src="/image/site/sub/alarm.png"> 콘테스트 마감이 얼마 남지 않았어요!</p>
            <ul>
                <li th:each="contest : ${contests}">
                    <div class="tit">
                        <div class="img_bx"><img src="/image/site/index/noimage.png"
                                                 th:attr="src=${contest.memberProfileImage}"></div>
                        <p class="p1" th:text="${contest.name}">KB 국민은행</p>
                        <p class="p2" th:text="${contest.isReview}? '리뷰' : 'PPL'">리뷰</p>
                    </div>
                    <div class="cont">
                        <p class="p1">
                            <span class="s1" th:text="'D-' + ${contest.restDate}">D-11</span>
                            <span class="s2" th:text="${contest.applyNumber}">11</span>
                            명 응모</p>
                        <p class="p2" th:text="${contest.name}">신규 예금상품 가입 체험 컨텐츠 앞 광고 공모</p>
                        <p class="p4" th:text="${contest.text}">KB 국민은행의 신규 예금상품을 미리 알아보는 것부터 가입하는 과정까지 자연스럽고
                            재미있는재미있는재미있는재미있는 컨텐츠에 녹여...</p>
                        <p class="p3">
                            <img src="/image/site/index/won.png">
                            <span th:text="${contest.totalReward}"></span>만원
                        </p>
                        <p class="p5">
                            <img src="/image/site/index/premium.png" th:if="${not contest.isStandard}">
                        </p>
                    </div>
                </li>
            </ul>
            <a href="/contests/list" class="more_list">목록 더보기</a>
        </div>
    </div>


</div>


<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>