<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:include="admin/fragments/head :: head"></head>
<head>
  <script type='text/javascript' src='/admin/js/faq.js'></script>
</head>
<body class='skin-purple sidebar-mini'>

<header th:replace="admin/fragments/header :: header"></header>
<aside th:replace="admin/fragments/sidebar :: aside"></aside>
<div class="content-wrapper">
  <section class="content-header">
    <h1> 자주묻는 질문 <small>목록</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="">자주묻는 질문</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-9">
        <div class="box">
          <div class="box-body pad">
            <form action="/admin/faq/edit" th:object="${faq}" method="post" enctype="multipart/form-data">
              <input type="hidden" th:field="${faq.id}" th:value="${faq.id}">
              <div class="form-group">
                <label for="bd_subject">제목</label>
                <input type="text" class="form-control" placeholder="제목을 입력해주세요."
                       th:field="${faq.title}" th:value="${faq.title}">
              </div>

              <div class="form-group">
                <label for="bd_subject">내용</label>
                <textarea name="f_content" rows="10" style="border:1px solid #ddd;width:100%; height:35em;"
                  th:field="${faq.content}" th:value="${faq.content}"></textarea>
              </div>

              <div class="form-group text-right">
                <button type="button" class="btn btn-default pull-left cancel">취소</button>
                <button type="submit" id="smit" class="btn btn-primary">글쓰기</button>
              </div>
            </form>
          </div>
        </div><!-- /.box -->
      </div><!-- /.col-->
    </div>
  </section>
</div>
<footer th:replace="admin/fragments/footer :: footer"></footer>
<div th:replace="admin/fragments/include :: include"></div>

</body>