
/*html,body{height:100%;}
body{
    height:100%;background:url('http://utimoa.co.kr/image/admin/macbook-407126.jpg') no-repeat !important;
    background-position:center  !important;
    background-size:cover !important;
}

.login-logo a{color:#fff}
*/