<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="apple-touch-icon" href="/image/touch.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap"/>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
    <link  rel="stylesheet" type="text/css" href="/css/global.css"/>

    <script type="text/javascript" src="/lib/front/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/lib/front/respond.js"></script>
    <script type="text/javascript" src="/lib/front/underscore-min.js"></script>
    <script type="text/javascript" src="/lib/front/php.js"></script>
    <script type="text/javascript" src="/lib/front/function.js"></script>
    <script type='text/javascript' src='/js/common.js'></script>

    <script type='text/javascript' src='/lib/front/plugin/wow/wow.min.js'></script>
    <link rel="stylesheet" href="/lib/front/animate.min.css">
    <link rel='stylesheet' type='text/css' href='/lib/front/plugin/slick/slick.css'/>
    <script type='text/javascript' src='/lib/front/plugin/slick/slick.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/lib/front/plugin/magnific_popup/magnific-popup.css">
    <script type="text/javascript" src="/lib/front/plugin/magnific_popup/magnific-popup.min.js"></script>

    <!--[if lt IE 9]>
    <link  rel="stylesheet" type="text/css" href="/css/style-ie.css"/>
    <![endif]-->

    <title>VICON</title>

</head>
