<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<aside th:fragment="aside" class='main-sidebar'>
    <!-- sidebar: style can be found in sidebar.less -->
    <section class='sidebar' style="height: auto;">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class='sidebar-menu'>
            <li class='header'>NAVIGATION</li>

            <li class=''>
                <a href='/admin'> <i class="fas fa-tachometer-alt marginr10"></i><span>관리자 메인</span></a>
            </li>

            <li class=''>
                <a href='/admin/member'> <i class='fa fa-user'></i> <span>회원 관리</span> </a>
            </li>

            <li class="">
                <a href='/admin/contest'> <i class="fas fa-video"></i>&nbsp;&nbsp;<span>콘테스트 관리</span></a>
            </li>

<!--            <li class="">-->
<!--                <a href='/admin/payment'> <i class="fas fa-list"></i>&nbsp;&nbsp;<span>결제 관리</span></a>-->
<!--            </li>-->

<!--            <li class="">-->
<!--                <a href='/admin/video'> <i class='fa fa-list'></i>&nbsp;<span>비디오 콘테스트 사례</span></a>-->
<!--            </li>-->

            <li class="">
                <a href='/admin/creator'> <i class='fa fa-list'></i>&nbsp;<span>크리에이터 관리</span></a>
            </li>

<!--            <li class="">-->
<!--                <a href='/admin/review'> <i class="fas fa-thumbs-up"></i>&nbsp;&nbsp;<span>후기 관리</span></a>-->
<!--            </li>-->

            <li class="">
                <a href='/admin/event'> <i class="fas fa-splotch"></i>&nbsp;&nbsp;<span>이벤트 관리</span></a>
            </li>

            <li class="">
                <a href='/admin/qna'> <i class="fas fa-comment"></i>&nbsp;&nbsp;<span>문의하기</span></a>
            </li>

<!--            <li class="">-->
<!--                <a href='/admin/chat'> <i class="fas fa-comment"></i>&nbsp;&nbsp;<span>소통 관리</span></a>-->
<!--            </li>-->

            <li class="">
                <a href='/admin/faq'> <i class="fas fa-question-circle"></i>&nbsp;&nbsp;<span>자주묻는 질문</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>